# Configuration de l'application
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=http://localhost:3001

# Configuration du backend
PORT=3001
NODE_ENV=development

# Configuration de la base de données
DB_PATH=./notifications.db

# Configuration WebSocket
WS_PORT=3001
WS_CORS_ORIGIN=http://localhost:3000


VAPID_PUBLIC_KEY=BAGF-4f0mb3GutiAdZS5onNmnfq2-UBWBKznU1tRNWL_smvrxGTOCB7D-_Ye5JoOuSaIsLmWljGHHRcAOFKakCE
VAPID_PRIVATE_KEY=0Ot8WnoeBMvi7zlmCiRubdJu2DWOR438gpJmvDOzvVY
VAPID_EMAIL=mailto:test@example.com

NEXT_PUBLIC_VAPID_PUBLIC_KEY=BAGF-4f0mb3GutiAdZS5onNmnfq2-UBWBKznU1tRNWL_smvrxGTOCB7D-_Ye5JoOuSaIsLmWljGHHRcAOFKakCE