# Configuration du serveur
PORT=3001
NODE_ENV=development

# Configuration de la base de données
DB_PATH=./notifications.db

# Configuration Firebase (pour les notifications mobiles)
FIREBASE_PROJECT_ID=votre-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nVOTRE-CLE-PRIVEE\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@votre-project-id.iam.gserviceaccount.com

# Configuration WebSocket
WS_CORS_ORIGIN=http://localhost:3000

# Configuration VAPID (générées automatiquement)
VAPID_PUBLIC_KEY=BB-gI3Sd66lBKWvp5VTim8tLaSzqeMv_Le6JIghZpUdrQshjGIHZGsNg9Gt23sgVYxB110YGWa_j4AeXhJHDJu4
VAPID_PRIVATE_KEY=LLNMldIBxVMLfVpBB_l8iKx1kKtCEEdwJZWxR8bQ4Xc
VAPID_EMAIL=mailto:test@example.com
